<div class="container">
    <div>
        <div class="alert alert-primary" role="alert">
            <h2>Ejemplo de factura</h2>
        </div>

        <div>
            <ul>
                <li>ID: {{invoice?.id}}</li>
                <li>Nombre: {{invoice?.name}}</li>
            </ul>
        </div>
        <div class="row my-3">
            <div class="col">
                <h3>Datos del cliente</h3>
                <ul class="list-group">
                    <li class="list-group-item">Nombre: {{invoice?.client?.name}} {{invoice?.client?.lastName}}</li>
                    <li class="list-group-item">Pais: {{invoice?.client?.address?.country}}</li>
                    <li class="list-group-item">Ciudad: {{invoice?.client?.address?.city}}</li>
                    <li class="list-group-item">Direccion: {{invoice?.client?.address?.street}} {{invoice?.client?.address?.number}}</li>
                </ul>
            </div>
            <div class="col">            
                <h3>Datos de la empresa</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{invoice?.company?.name}}</li>
                    <li class="list-group-item">{{invoice?.company?.fiscalNumber}}</li>
                </ul>
            </div>
        </div>

        <div>
            <h4>Detalle de la factura</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of invoice?.items; track $index) {
                        <tr>
                            <td> {{item.id}} </td>
                            <td> {{item.product}} </td>
                            <td> {{item.quantity}} </td>
                            <td> {{item.price}} </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>