<div class="container">
    <div>
        <div class="alert alert-primary" role="alert">
            <h2>Ejemplo de factura</h2>
        </div>
        <app-invoice-view [id]="invoice.id" [name]="invoice.name" />
        <div class="row my-3">
            <div class="col">
                <client-view [client]="invoice.client" />
            </div>
            <div class="col">            
                <company-view [company]="invoice.company" />
            </div>
        </div>
        <div>
            <list-items [items]="invoice.items" (removeEventEmiter)="removeItem($event)"/>
            <total [total]="invoice.total" />
        </div>
    </div>
</div>