<h4>Detalle de la factura</h4>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
    @if (items?.length != 0) {
        
            @for (item of items; track $index) {
                <tr row-item [item]="item" (removeEventEmitter)="onRemove($event)"></tr>
            }
               
    } @else {
        <tr>
            <td colspan="4">
                No hay items
            </td>
        </tr>
    }
    </tbody> 
</table>